{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
	<script type="text/javascript">
		$('#myTab').tabCollapse();
	</script>
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-sm-8">
        <!-- <div class="thumbnail">
	        <img src="..." alt="...">
	        <div class="caption">
		        <h3>{{ career.name }}</h3>
		        <p>{{ career.overview }}</p>
		    </div>		    
        </div> -->
        <div class="thumbnail">
	        <!-- <img src="..." alt="..."> -->
	       <!--  <h3>{{ career.name }}</h3> -->
	        <div class="caption">
	        	<h3>{{ career.name }}</h3>
		        <ul id="myTab" class='nav nav-tabs nav-justified'>
		        	<li class="active"><a href="#overview" data-toggle="tab">Summary</a></li>
		        	<li><a href="#duties" data-toggle="tab">Duties</a></li>
		        	<li><a href="#education" data-toggle="tab">Education</a></li>
		        	<li><a href="work-environment" data-toggle="tab">Environment</a></li>
		        </ul>
		        <div class="tab-content">
		        	<div class="tab-pane fade in active" id="overview">
		        		<br>
		        		<p>{{ career.overview }}</p>
		        	</div>
		        	<div class="tab-pane fade" id="duties">
		        		<br>
		        		<p>{{ career.overview }}</p>
		        	</div>
		        	<div class="tab-pane fade" id="education">
		        		<br>
		        		<p>{{ career.overview }}</p>
		        	</div>
		        	<div class="tab-pane fade" id="work-environment">
		        		<br>
		        		<p>{{ career.overview }}</p>
		        	</div>
		        </div>
		    </div>		    
        </div>
        <div>
    		<span class="label label-primary pull-right">
    			{{ career.comments.count() }} Comments
    		</span> 
			<br>
			<hr/>        	
        </div>
        <div>
		    <div class="">
                {{ wtf.quick_form(form) }}
            </div> 
		</div>

		<div>
	    	<h2 class="page-header">Comments</h2>
	    	{% for comment in comments %}
			    <section class="comment-list">
			        <article class="row">
			            <div class="col-md-2 col-sm-2 hidden-xs">
			                <figure class="thumbnail">
			                    <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
			                    <figcaption class="text-center">{{ comment.owner.username }}</figcaption>
			                </figure>
			            </div>
			            <div class="col-md-10 col-sm-10">
				            <div class="panel panel-default arrow left">
				                <div class="panel-body">
				                    <header class="text-left">
				                        <div class="comment-user"><i class="fa fa-user"></i>{{ comment.owner.username }}</div>
				                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
				                    </header>
				                    <div class="comment-post">
				                        <p>
				                        	{{ comment.content}}
				                        </p>
				                    </div>
				                    <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
				                </div>
				            </div>
			            </div>
				    </article>
		    	</section>
		    {% endfor %}
		</div>
	</div>

	<div class="col-sm-4">
		<div>
			<h4>Specialization</h4>
		</div>				
	</div>
</div>
{% endblock %}

        <div class="thumbnail">
	        <img src="..." alt="...">
	        <div class="caption">
		        <ul class='nav nav-tabs'>
		        	<li class="active"><a href="#overview" data-toggle=""></a></li>
		        	<li><a href="#duties" data-toggle=""></a></li>
		        	<li><a href="#education" data-toggle=""></a></li>
		        	<li><a href="work-environment" data-toggle=""></a></li>
		        </ul>
		        <div class="tab-content">
		        	<div class="tab-pane" id="overview">
		        		<p></p>
		        	</div>
		        	<div class="tab-pane" id="duties">
		        		<p></p>
		        	</div>
		        	<div class="tab-pane" id="education">
		        		<p></p>
		        	</div>
		        	<div class="tab-pane" id="work-environment">
		        		<p></p>
		        	</div>
		        </div>
		    </div>		    
        </div>