{% extends 'base.html' %}

{% block page_content %}
	<a href="/cms/create_career" type="button" class="btn btn-primary btn-lg">
	  	Add New Career
	</a>

	<div class="col-sm-6">
		<ul class="media-list">
			{% for career in careers %}
			<li class="media">
				<div class="media-left">
					{% if career.image_url %}
				    <img class="media-object img-resposive cat-images" src="{{ url_for('static', filename='images/' + career.image_url) }}" alt="..."/>

				    {% else %}
					<img class="media-object img-resposive cat-images" src="{{ url_for('static', filename = 'images/robtics.jpeg') }}" alt="...">
					{% endif %}
				</div>
				<div class="media-body">
			        <h4 class="media-heading"><a href="{{ url_for('main.ret_career', id=career.id) }}">{{ career.name }}</a></h4>
			        <p>{{ career.overview | truncate(200) }}</p>
			        <a class="btn btn-primary" href="{{ url_for('main.ret_career', id=career.id) }}">Read More</a>
			    </div>	
			</li><hr>
			{% endfor %}
		</ul>
    </div>

{% endblock %}


